@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark*));

:root {
  --font-griun: 'Griun';
}
@theme {
  --color-background: #fafafa;
  --color-foreground: #2c2c2c;
  --color-maincolor: #22D3EE;
  --font-griun: 'Griun';
}
@layer theme {
  .dark {
    --color-background: #1a1a1a;
    --color-foreground: #fafafa;
    --color-maincolor: #22D3EE;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-griun), sans-serif;
}

